.tabs-container {
  text-align: center;
  margin-top: 50px;
}

.tab-buttons {
  display: inline-flex;
}

.tab-button {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 4px;
  transition: 0.3s ease;
}

.tab-button.active {
  border: 2px solid black;
  color: white;
}

.tab-button.tab1.active {
  background-color: yellowgreen;
}

.tab-content {
  margin-top: 30px;
  color: brown;
}
